/* INITIAL SETUP */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* font color */
  --primary: #555;
  --secondary: #6c757d;
  --black: #000;

  /* font size */
  --font-size-huge: 7.5rem;
  --font-size-large: 5.5rem;
  --font-size-medium-1: 3.6rem;
  --font-size-medium: 2.8rem;
  --font-size-normal: 2.2rem;
  --font-size-small: 1.8rem;

  /* line height */
  --line-height-normal: 1.7;
  --line-height-small: 1.2;

  /* container width */
  --container-max-width: 1180px;
  --container-normal-width: 800px;
  --container-medium-width: 700px;
  --container-small-width: 500px;

  /* spacing */
  --gonna-be-huge: 12rem;
  --gonna-be-medium: 6rem;
  --gonna-be-normal: 3rem;
  --be-small: 2.5rem;
  --be-very-small: 2rem;
}

html {
  font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-small);
  font-family: 'Jost', sans-serif;
  color: var(--secondary);
  line-height: var(--line-height-normal);
  overflow-x: hidden;
}

.row {
  max-width: var(--container-max-width);
  margin: 0 auto;
}

section {
  padding: var(--gonna-be-huge) 0;
  border-bottom: var(--border-light);
}

img {
  object-fit: contain;
  max-width: 100%;
}

/* HEADLINES AND PARAGRAPHS STYLES */

h1,
h2,
h3 {
  line-height: var(--line-height-small);
  color: var(--black);
}

.heading_primary {
  line-height: 1;
  font-size: var(--font-size-huge);
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--gonna-be-medium);
}

h2::after {
  content: '';
  display: block;
  height: 2px;
  width: 10rem;
  background: var(--primary);
  margin: var(--be-very-small) 0;
}

h3 {
  font-size: var(--font-size-medium-1);
  margin-bottom: var(--be-very-small);
}

h2 {
  font-size: var(--font-size-medium-1);
}

h3 {
  font-size: var(--font-size-medium);
}

p {
  margin: var(--be-small) 0;
}

/* HORIZONTAL RULE STYLE */

.my_separator {
  border: dotted var(--primary) 10px;
  border-bottom: none;
  width: 6em;
  margin: auto;
}

/* BUTTONS AND LINKS STYLES */

a {
  color: var(--black);
  transition: all 0.2s;
  outline: 2px solid transparent;
}

::-moz-focus-inner {
  border: 0;
}

button:focus,
a:focus {
  outline: 2px solid var(--primary);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--primary);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  /* border-radius: 10px; */
  color: var(--black);
  border: 1px solid var(--primary);
  font-weight: 400;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
  right: 0;
  background: var(--primary);
  /* border-radius: 10px; */
}

.main_btn {
  background: var(--primary);
  transition: all 0.2s;
  color: #fff;
}

.main_btn::after {
  display: none;
}

.main_btn:hover,
.main_btn:focus {
  background: transparent;
  color: var(--primary);
}

.link_text {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  color: var(--black);
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
}

.link_text::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link_text:focus {
  outline: none;
}

.link_text:hover::after,
.link_text:focus:after {
  right: 0;
  background: var(--primary);
}

.link_text span {
  padding-left: 1rem;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: flex-end;
  padding: var(--gonna-be-normal) 0;
}

.nav_items {
  display: flex;
  list-style: none;
}

.nav_item:not(:last-child) {
  margin-right: var(--gonna-be-medium);
}

.nav_link {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: #6c757d;
  transition: all 0.2s;
}

.nav_link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav_link:hover {
  color: var(--primary);
}

.nav_link:hover::after {
  right: 0;
  height: 2px;
  background: var(--primary);
}

/* HEADER */

.header {
  height: 100vh;
  font-size: var(--font-size-normal);
}

.header_text {
  position: absolute;
  top: 35%;
}

.header_text p {
  margin: 1.5rem 0 3.5rem;
  max-width: var(--container-medium-width);
  font-size: var(--font-size-medium);
}

/* LATEST PROJECTS */

.project_box {
  display: flex;
  align-items: center;
}

.project-git {
  margin-left: 25px;
  font-size: 35px;
  color: #6c757d;
}

.project-git:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  color: var(--primary);
}

.project_box:not(:last-child) {
  margin-bottom: 25rem;
}

.work_links {
  display: flex;
  align-items: center;
}

.project_description {
  flex: 0 0 30%;
}

.coded_with {
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: var(--gonna-be-normal);
}

.project_image {
  margin-bottom: var(--gonna-be-normal);
}

/* ABOUT */

.about_content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.about_photo-container {
  margin-bottom: var(--gonna-be-normal);
}

.about_text {
  text-align: justify;
}

.about_photo {
  width: 70%;
}

.about_photo-container {
  flex: 1;
  margin: 0 var(--gonna-be-huge) 0 0;
}

/* CONTACT */

.contact_info {
  max-width: var(--container-medium-width);
  text-align: justify;
}

/* FOOTER SECTION */

.my-footer {
  text-align: center;
  padding: var(--gonna-be-medium) 0 var(--gonna-be-normal);
}

.social-media {
  margin: 20px 10px;
  font-size: 50px;
  color: #6c757d;
}

.social-media:hover {
  transform: scale(1.2);
  color: var(--primary);
  transition: all 0.3s;
}

.footer-paragraph {
  margin: auto;
}

p a {
  text-decoration: none;
  color: #e0a9e0;
}

.e-mail {
  color: #e0a9e0;
}

/* BACK TO TOP */

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}

.back-to-top-img {
  height: 70%;
}
